body{
    padding: 10px;
    margin: 20px;
    font-size: 35px;
}
h2{

  display:flex;
  position: relative;
  left: 300px; 
  color:green; 
}
form{
padding:20px;
}
label[for="username"]{
  position: relative;
  left: 270px;
  top:-50px;

}
input[type="text"]{
  position: relative;
  left: 283px;
  top: -50px;
  border-radius: 10px;
}

label[for="password"]{
  position: relative;
  left: -55px;
  top:0px;

}
input[type="password"]{
  position: relative;
  left: 5px;
  top: -5px;
  border-radius: 10px;
}
input[type="submit"]{
    position: relative;
    left:-70px;
    top:40px;
    border-radius: 10px;
  }
