body{
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
    padding:10px;
    background-color:gray;  

}
h2{
    color: aquamarine;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;

}
.page1 {
    position:inherit;
    float: left;
    background-color: beige;
    border : 10px double gray;
    border-radius:60px ;
    padding:inherit;
    text-shadow: 2px 2px 15px black;
    width:45%;
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.page2 {
    position: relative;
    float: left;
    background-color: beige;
    border : 10px double gray;
    border-radius:60px ;
    
    text-shadow: 2px 2px 15px black;
    width:45%;
    padding: 30px;
   
    
}
.page3 {
    position: relative;
    float: left;
    background-color: beige;
    border : 10px double gray;
    border-radius:60px ;
    padding:inherit;
    text-shadow: 2px 2px 15px black;
    width:45%;
    padding: 30px;
    margin-right:20px ;
    
}
.page4 {
    position: relative;
    float: left;
    background-color: beige;
    border : 10px double gray;
    border-radius:60px ;
    padding: 30px;
    text-shadow: 2px 2px 15px black;
    width:45%;
    
    
}

