body{
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
    padding:10px;
    background-color:gray;  

}

p:first-letter{
    font-size:200%;
}
p::first-line{
    font-weight: bold;

}
h2{
    color: aquamarine;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
    padding:0 0 50px 0;

}
#container div{
    position:relative;
    display:block;
    background-color: beige;
    border : 10px double gray;
    border-radius:60px ;
    padding:inherit;
    text-shadow: 2px 2px 15px black;
    width:800px;
    padding: 30px;
    margin-right: 50px;
    margin-bottom: 50px;
    float:left;


}